on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '5 2 * * *'
concurrency: self-update
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    if: ${{ github.repository_owner == 'scala-steward-bot' }}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 21
        distribution: temurin
    - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
    - id: generate_token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: 89536
        private-key: ${{ secrets.XUWEI_K_BOT_KEY }}
    - uses: coursier/coursier-setup@f7be3eb3dcef84a4e16fc8cd75c87beb2e5cbcc9 # v2.0.2
    - run: cs install scalafmt
    - run: cs install scalafix
    - run: GITHUB_TOKEN="${{ steps.generate_token.outputs.token }}" sbt -v selfUpdate
